@charset "UTF-8";
body {
  font-family: Poppins;
  color: #2B2730;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

#g-nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background: #eeeeee;
  transition: all 0.6s;
}

#g-nav.panelactive {
  /*アクティブクラスがついたら位置を0に*/
  right: 0;
}

#g-nav ul {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#g-nav li {
  list-style: none;
  text-align: center;
}

#g-nav li a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 24px;
  font-weight: bold;
}

#g-nav li a:hover {
  opacity: 0.7;
}

.header {
  display: flex;
  align-items: center;
  margin: calc(32 * (100vw / 1440)) calc(100 * (100vw / 1440)) calc(117 * (100vw / 1440)) calc(100 * (100vw / 1440));
  gap: calc(40 * (100vw / 1440));
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .header {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .header {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    margin: calc(24 * (100vw / 360)) calc(16 * (100vw / 360)) calc(56 * (100vw / 360)) calc(16 * (100vw / 360));
    justify-content: space-between;
  }
}

.header__logo {
  width: calc(96 * (100vw / 1440));
  height: auto;
}

@media only screen and (max-width: 768px) {
  .header__logo {
    width: calc(65.335 * (100vw / 360));
    height: auto;
  }
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .header .nav {
    display: none;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .header .nav {
    display: none;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .header .nav {
    display: none;
  }
}

.header .nav__left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(24 * (100vw / 1440));
}

.header .nav__left a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: #2B2730;
  font-size: calc(16 * (100vw / 1440));
  font-weight: 500;
}

.header .nav__left a:hover {
  opacity: 0.7;
}

.header .nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(20 * (100vw / 1440));
}

.header .nav__right__link {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: #2B2730;
  font-size: calc(16 * (100vw / 1440));
  font-weight: 500;
}

.header .nav__right__link:hover {
  opacity: 0.7;
}

.header .nav__right__button {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10 * (100vw / 1440));
  padding: calc(16 * (100vw / 1440)) calc(32 * (100vw / 1440));
  border-radius: calc(100 * (100vw / 1440));
  background: #2B2730;
  color: #FFF;
  font-size: calc(14 * (100vw / 1440));
  font-weight: 500;
  line-height: calc(20 * (100vw / 1440));
}

.header .nav__right__button:hover {
  opacity: 0.7;
}

.header__openbtn {
  height: auto;
}

@media only screen and (max-width: 768px) {
  .header__openbtn {
    display: block;
    width: calc(24 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .header__openbtn {
    display: block;
    width: calc(44 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .header__openbtn {
    display: block;
    width: calc(34 * (100vw / 1280));
  }
}

.banner {
  padding: 0px calc(120 * (100vw / 1440)) 0px calc(100 * (100vw / 1440));
  margin: auto;
  max-width: 1440px;
}

@media only screen and (max-width: 768px) {
  .banner {
    padding: 0px calc(16 * (100vw / 360)) 0px calc(16 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .banner {
    padding: 0px calc(106 * (100vw / 1280)) 0px calc(106 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .banner {
    padding: 0px calc(87.5 * (100vw / 1280)) 0px calc(87.5 * (100vw / 1280));
  }
}

.banner__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner__top__title {
  color: #2B2730;
  font-size: 72px;
  font-weight: 700;
  line-height: 80px;
}

@media only screen and (max-width: 768px) {
  .banner__top__title {
    font-size: calc(32 * (100vw / 360));
    line-height: calc(40 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .banner__top__title {
    font-size: calc(64 * (100vw / 1280));
    line-height: calc(70 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .banner__top__title {
    font-size: calc(52.5 * (100vw / 1280));
    height: calc(58.3 * (100vw / 1280));
  }
}

.banner__top--highlight {
  color: #FFB84C;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .icon {
    margin-left: auto;
    margin-top: calc(-36 * (100vw / 360));
  }
}

.icon__circle {
  width: 204px;
  height: 204px;
}

@media only screen and (max-width: 768px) {
  .icon__circle {
    width: calc(102 * (100vw / 360));
    height: calc(102 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .icon__circle {
    width: calc(181.3 * (100vw / 1280));
    height: calc(181.3 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .icon__circle {
    width: calc(148.8 * (100vw / 1280));
    height: calc(148.8 * (100vw / 1280));
  }
}

.icon__circle--inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 164px;
  height: 164px;
  border-radius: 50%;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 768px) {
  .icon__circle--inner {
    width: calc(82 * (100vw / 360));
    height: calc(82 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .icon__circle--inner {
    width: calc(145.8 * (100vw / 1280));
    height: calc(145.8 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .icon__circle--inner {
    width: calc(119.6 * (100vw / 1280));
    height: calc(119.6 * (100vw / 1280));
  }
}

.icon__circle--inner p {
  font-size: 19.68px;
  color: white;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .icon__circle--inner p {
    font-size: calc(9.84 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .icon__circle--inner p {
    font-size: calc(17.5 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .icon__circle--inner p {
    font-size: calc(14.4 * (100vw / 1280));
  }
}

.icon__circle--bigger {
  font-size: 39.36px;
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .icon__circle--bigger {
    font-size: calc(19.68 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .icon__circle--bigger {
    font-size: calc(35 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .icon__circle--bigger {
    font-size: calc(28.7 * (100vw / 1280));
  }
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(116 * (100vw / 1440));
  background: linear-gradient(to bottom, white 0%, white 50%, #2B2730 50%, #2B2730 100%, white 100%);
}

@media only screen and (max-width: 768px) {
  .screen {
    margin-top: calc(24 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .screen {
    margin-top: calc(103.1 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .screen {
    margin-top: calc(84.6 * (100vw / 1280));
  }
}

.screen--image {
  width: calc(1204 * (100vw / 1440));
  max-width: 1204px;
  height: auto;
  border-radius: calc(32 * (100vw / 1440));
  border: 16px solid #2B2730;
  filter: grayscale(100%);
}

@media only screen and (max-width: 768px) {
  .screen--image {
    width: calc(324 * (100vw / 360));
    height: auto;
    border-radius: calc(8.611 * (100vw / 360));
    border: calc(4.306 * (100vw / 360)) solid #2B2730;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .screen--image {
    width: calc(1070.2 * (100vw / 1280));
    height: auto;
    border: calc(14.2 * (100vw / 1280)) solid #2B2730;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .screen--image {
    width: calc(877.9 * (100vw / 1280));
    height: auto;
    border: calc(11.7 * (100vw / 1280)) solid #2B2730;
  }
}

.team {
  padding: calc(118.35 * (100vw / 1440)) calc(100 * (100vw / 1440)) calc(108 * (100vw / 1440)) calc(100 * (100vw / 1440));
  margin-top: -1px;
  background-color: #2B2730;
}

@media only screen and (max-width: 768px) {
  .team {
    padding: calc(64 * (100vw / 360)) calc(18 * (100vw / 360)) calc(32 * (100vw / 360)) calc(14 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .team {
    padding: calc(105.2 * (100vw / 1280)) calc(88.9 * (100vw / 1280)) calc(96 * (100vw / 1280)) calc(88.9 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .team {
    padding: calc(86.3 * (100vw / 1280)) calc(72.9 * (100vw / 1280)) calc(78.8 * (100vw / 1280)) calc(72.9 * (100vw / 1280));
  }
}

.team__heading {
  max-width: 1240px;
  margin: auto;
  margin-bottom: calc(116 * (100vw / 1440));
  color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: calc(-1.6 * (100vw / 1440));
}

@media only screen and (max-width: 768px) {
  .team__heading {
    font-size: calc(32 * (100vw / 360));
    font-weight: 500;
    line-height: calc(40 * (100vw / 360));
    letter-spacing: -0.8px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .team__heading {
    font-size: calc(56.9 * (100vw / 1280));
    font-weight: 600;
    line-height: calc(64 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .team__heading {
    font-size: calc(46.7 * (100vw / 1280));
    font-weight: 600;
    line-height: calc(52.5 * (100vw / 1280));
  }
}

.team__heading--highlight {
  color: #FFB84C;
}

.team__images {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  margin-bottom: calc(116 * (100vw / 1440));
  flex-wrap: wrap;
  gap: 32px;
}

.team__images img {
  width: 380px;
}

@media only screen and (max-width: 768px) {
  .team__images img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(328 * (100vw / 360));
    height: auto;
    gap: 0px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 769px) {
  .team__images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  .team__images img {
    width: calc(348.4 * (100vw / 1280));
  }
  .team__images img:nth-child(odd) {
    margin-right: auto;
    margin-left: calc(50 * (100vw / 1280));
  }
  .team__images img:nth-child(even) {
    margin-left: auto;
    margin-right: calc(50 * (100vw / 1280));
    margin-top: calc(-40 * (100vw / 1280));
  }
  .team__images img:last-child {
    margin-top: calc(-40 * (100vw / 1280));
  }
}

.team__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: auto;
}

@media only screen and (max-width: 768px) {
  .team__status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.team__status__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  gap: 16px;
  align-items: flex-end;
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.team__status__link:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .team__status__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(40 * (100vw / 360));
    width: 100%;
    font-size: calc(16 * (100vw / 360));
    font-weight: 500;
    line-height: calc(40 * (100vw / 360));
    gap: calc(16 * (100vw / 360));
  }
  .team__status__link br {
    display: none;
  }
}

.team__status__link img {
  width: 64px;
  height: 64px;
}

@media only screen and (max-width: 768px) {
  .team__status__link img {
    width: calc(32 * (100vw / 360));
    height: calc(32 * (100vw / 360));
  }
}

.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 703px;
  gap: calc(32 * (100vw / 1440));
  color: #FFF;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .status {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.status__pair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(8 * (100vw / 1440));
}

.status__number {
  font-size: 64px;
  color: #FFB84C;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  .status__number {
    font-size: calc(40 * (100vw / 360));
    line-height: calc(48 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .status__number {
    font-size: calc(56.9 * (100vw / 1280));
    line-height: calc(64 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .status__number {
    font-size: calc(46.7 * (100vw / 1280));
    line-height: calc(52.5 * (100vw / 1280));
  }
}

.status__description {
  font-size: 32px;
  font-weight: 400;
  line-height: 24px;
}

@media only screen and (max-width: 768px) {
  .status__description {
    margin: auto;
    font-size: calc(16 * (100vw / 360));
    line-height: calc(24 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .status__description {
    font-size: calc(28.4 * (100vw / 1280));
    line-height: calc(21.3 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .status__description {
    font-size: calc(23.3 * (100vw / 1280));
    line-height: calc(17.5 * (100vw / 1280));
  }
}

.features {
  display: flex;
  align-items: flex-start;
  padding-top: 116px;
  padding-bottom: 116px;
  max-width: 1440px;
  margin: auto;
  gap: calc(30 * (100vw / 1440));
}

@media only screen and (max-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    padding: calc(32 * (100vw / 360)) calc(18 * (100vw / 360)) calc(64 * (100vw / 360)) calc(14 * (100vw / 360));
    gap: calc(32 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(26.7 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(21.9 * (100vw / 1280));
  }
}

.features__text {
  width: 604px;
}

@media only screen and (max-width: 768px) {
  .features__text {
    width: 100%;
  }
}

.features__text h2 {
  font-size: 56px;
  color: #2B2730;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.4px;
  margin: 0;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .features__text h2 {
    font-size: calc(32 * (100vw / 360));
    line-height: calc(40 * (100vw / 360));
    letter-spacing: calc(-0.8 * (100vw / 360));
    margin-bottom: calc(24 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .features__text h2 {
    font-size: calc(49.8 * (100vw / 1280));
    line-height: calc(56.9 * (100vw / 1280));
    margin-bottom: calc(21.3 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .features__text h2 {
    font-size: calc(40.8 * (100vw / 1280));
    line-height: calc(46.7 * (100vw / 1280));
    margin-bottom: calc(17.5 * (100vw / 1280));
  }
}

.features__text p {
  font-size: 16px;
  color: #2B2730;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: calc(-0.4 * (100vw / 1440));
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .features__text p {
    font-size: calc(16 * (100vw / 360));
    line-height: calc(24 * (100vw / 360));
    letter-spacing: calc(-0.4 * (100vw / 360));
    margin-bottom: calc(24 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .features__text p {
    font-size: calc(14.2 * (100vw / 1280));
    line-height: calc(21.3 * (100vw / 1280));
    margin-bottom: calc(21.3 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .features__text p {
    font-size: calc(11.7 * (100vw / 1280));
    line-height: calc(17.5 * (100vw / 1280));
    margin-bottom: calc(17.5 * (100vw / 1280));
  }
}

.features__button {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  font-family: Inter;
  background: #2B2730;
  padding: calc(16 * (100vw / 1440)) calc(32 * (100vw / 1440));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  color: #FFF;
  font-size: calc(14 * (100vw / 1440));
  font-weight: 500;
  line-height: calc(20 * (100vw / 1440));
}

.features__button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .features__button {
    padding: calc(16 * (100vw / 360)) calc(32 * (100vw / 360));
    font-size: calc(14 * (100vw / 360));
    line-height: calc(20 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .features__button {
    padding: calc(14.2 * (100vw / 1280)) calc(28.4 * (100vw / 1280));
    font-size: calc(12.4 * (100vw / 1280));
    line-height: calc(17.8 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .features__button {
    padding: calc(11.7 * (100vw / 1280)) calc(23.3 * (100vw / 1280));
    font-size: calc(10.2 * (100vw / 1280));
    line-height: calc(14.6 * (100vw / 1280));
  }
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

@media only screen and (max-width: 768px) {
  .items {
    gap: calc(32 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .items {
    gap: calc(32 * (100vw / 1280));
  }
}

.items__row {
  display: flex;
  align-items: flex-start;
  gap: 34px;
}

@media only screen and (max-width: 768px) {
  .items__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(32 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .items__row {
    gap: calc(32 * (100vw / 1280));
  }
}

.items__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 286px;
  height: 280px;
  gap: calc(16 * (100vw / 1440));
}

@media only screen and (max-width: 768px) {
  .items__col {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(18.36 * (100vw / 360));
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .items__col {
    width: calc(254.2 * (100vw / 1280));
    height: calc(248.9 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .items__col {
    width: calc(208.5 * (100vw / 1280));
    height: calc(204.2 * (100vw / 1280));
  }
}

.items__col img {
  width: 128px;
  height: 128px;
}

@media only screen and (max-width: 768px) {
  .items__col img {
    width: calc(96 * (100vw / 360));
    height: auto;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .items__col img {
    width: calc(113.8 * (100vw / 1280));
    height: auto;
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .items__col img {
    width: calc(93.3 * (100vw / 1280));
    height: auto;
  }
}

.items__col h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@media only screen and (max-width: 768px) {
  .items__col h3 {
    font-size: calc(24 * (100vw / 360));
    line-height: calc(32 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .items__col h3 {
    font-size: calc(21.3 * (100vw / 1280));
    line-height: calc(28.4 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .items__col h3 {
    font-size: calc(17.5 * (100vw / 1280));
    line-height: calc(23.3 * (100vw / 1280));
  }
}

.items__col p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media only screen and (max-width: 768px) {
  .items__col p {
    text-align: center;
    font-size: calc(16 * (100vw / 360));
    line-height: calc(24 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .items__col p {
    font-size: calc(16 * (100vw / 1280));
    line-height: calc(24 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .items__col p {
    font-size: calc(16 * (100vw / 1280));
    line-height: calc(24 * (100vw / 1280));
  }
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1240px;
  max-width: 1800px;
  background-color: #2B2730;
  padding: 116px 0px;
  flex-direction: column;
  border-radius: 32px;
  margin: auto;
  gap: calc(24 * (100vw / 1440));
}

@media only screen and (max-width: 768px) {
  .cta {
    width: calc(328 * (100vw / 360));
    padding: calc(24 * (100vw / 360)) calc(16 * (100vw / 360));
    gap: calc(16 * (100vw / 360));
  }
}

.cta h2 {
  color: #FFF;
  font-size: 56px;
  font-weight: 700;
  line-height: calc(64 * (100vw / 1440));
}

@media only screen and (max-width: 768px) {
  .cta h2 {
    text-align: center;
    font-size: calc(32 * (100vw / 360));
    line-height: calc(40 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .cta h2 {
    font-size: calc(49.8 * (100vw / 1280));
    line-height: calc(56.9 * (100vw / 1280));
  }
}

.cta p {
  color: #FFF;
  font-size: calc(16 * (100vw / 1440));
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 * (100vw / 1440));
}

@media only screen and (max-width: 768px) {
  .cta p {
    text-align: center;
    width: calc(253 * (100vw / 360));
    font-size: calc(16 * (100vw / 360));
    line-height: calc(24 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .cta p {
    font-size: calc(14.2 * (100vw / 1280));
    line-height: calc(21.3 * (100vw / 1280));
  }
}

.cta__button {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  padding: calc(16 * (100vw / 1440)) calc(32 * (100vw / 1440));
  align-items: flex-start;
  gap: calc(10 * (100vw / 1440));
  border-radius: 32px;
  background-color: #FFB84C;
  color: #2B2730;
  font-size: calc(14 * (100vw / 1440));
  font-weight: 500;
  line-height: calc(20 * (100vw / 1440));
}

.cta__button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .cta__button {
    padding: calc(16 * (100vw / 360)) calc(32 * (100vw / 360));
    gap: calc(10 * (100vw / 360));
    font-size: calc(14 * (100vw / 360));
    line-height: calc(20 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .cta__button {
    padding: calc(14.2 * (100vw / 1280)) calc(28.4 * (100vw / 1280));
    gap: calc(10 * (100vw / 1280));
    font-size: calc(12.4 * (100vw / 1280));
    line-height: calc(17.8 * (100vw / 1280));
  }
}

.footer {
  display: flex;
  width: 1240px;
  margin: 116px auto;
  justify-content: space-between;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(32 * (100vw / 360));
  }
}

.footer__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
}

@media only screen and (max-width: 768px) {
  .footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    gap: calc(16 * (100vw / 360));
  }
}

.footer__icons__logo {
  width: calc(96 * (100vw / 1440));
  height: auto;
}

@media only screen and (max-width: 768px) {
  .footer__icons__logo {
    width: calc(96 * (100vw / 360));
    height: auto;
  }
}

.footer__icons__sns {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.footer__icons__sns img {
  width: calc(24 * (100vw / 1440));
  height: auto;
}

@media only screen and (max-width: 768px) {
  .footer__icons__sns img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(24 * (100vw / 360));
    height: auto;
  }
}

.footer__link {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

@media only screen and (max-width: 768px) {
  .footer__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    order: 1;
    gap: calc(32 * (100vw / 360));
  }
}

.footer__link__theme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  gap: 16px;
}

@media only screen and (max-width: 768px) {
  .footer__link__theme {
    width: calc(180 * (100vw / 360));
    gap: calc(16 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .footer__link__theme {
    width: calc(160 * (100vw / 1280));
    gap: calc(16 * (100vw / 1280));
  }
}

.footer__link__theme ul {
  list-style: none;
}

.footer__link__theme ul li {
  text-align: left;
}

.footer__link__theme ul li h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

@media only screen and (max-width: 768px) {
  .footer__link__theme ul li h3 {
    font-size: calc(18 * (100vw / 360));
    line-height: calc(26 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .footer__link__theme ul li h3 {
    font-size: calc(16 * (100vw / 1280));
    line-height: calc(23.1 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .footer__link__theme ul li h3 {
    font-size: calc(13.1 * (100vw / 1280));
    line-height: calc(19 * (100vw / 1280));
  }
}

.footer__link__theme ul li a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: #2B2730;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.footer__link__theme ul li a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .footer__link__theme ul li a {
    font-size: calc(16 * (100vw / 360));
    line-height: calc(24 * (100vw / 360));
  }
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .footer__link__theme ul li a {
    font-size: calc(14.2 * (100vw / 1280));
    line-height: calc(21.3 * (100vw / 1280));
  }
}

@media only screen and (max-width: 1050px) and (min-width: 769px) {
  .footer__link__theme ul li a {
    font-size: calc(11.7 * (100vw / 1280));
    line-height: calc(17.5 * (100vw / 1280));
  }
}

.footer__link__theme ul li:not(:last-child) {
  margin-bottom: calc(8 * (100vw / 1440));
}

@media only screen and (max-width: 768px) {
  .footer__link__theme ul li:not(:last-child) {
    margin-bottom: calc(8 * (100vw / 360));
  }
}

/* fadeUp */
.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger {
  opacity: 0;
}
