
@mixin sp {
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@mixin tab {
    @media only screen and (max-width: 1280px) and (min-width: 769px) {
        @content;
    }
}
@mixin tab-s {
    @media only screen and (max-width: 1050px) and (min-width: 769px) {
        @content;
    }
}
@mixin team {
    @media only screen and (max-width: 1440px) and (min-width: 769px) {
        @content;
    }
}

@function pcvw($px) {
    @return calc(#{$px} * (100vw / #{1440}));
}
@function tbvw($px) {
    @return calc(#{$px} * (100vw / #{1280}));
}
@function vw($px) {
    @return calc(#{$px} * (100vw / #{360}));
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin wrap{
    display: flex;
    flex-wrap: wrap;
}
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@mixin linkStyles {
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
        opacity: 0.7;
    }
}


$black: #2B2730;
$orange: #FFB84C;

body {
    font-family: Poppins;
    color: $black;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#eeeeee;
	transition: all 0.6s;
}
#g-nav.panelactive{
    /*アクティブクラスがついたら位置を0に*/
    right: 0;
}
#g-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#g-nav li{
	list-style: none;
    text-align: center;
}
#g-nav li a{
    @include linkStyles;
    color: #333;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 24px;
    font-weight: bold;
}

.header {
    display: flex;
    align-items: center;
    margin: pcvw(32) pcvw(100) pcvw(117) pcvw(100);
    gap: pcvw(40);
    @include tab {
        justify-content: space-between;
    }
    @include tab-s {
        justify-content: space-between;
    }
    @include sp {
        margin: vw(24) vw(16) vw(56) vw(16);
        justify-content: space-between;
    }
    &__logo {
        width: pcvw(96);
        height: auto;
        @include sp {
            width: vw(65.335);
            height: auto;
        }
    }
    .nav {
        @include space-between;
        width: 100%;
        @include sp {
            display: none;
        }
        @include tab {
            display: none;
        }
        @include tab-s {
            display: none;
        }
        &__left {
            @include center;
            gap: pcvw(24);
            a {
                @include linkStyles;
                color: $black;
                font-size: pcvw(16);
                font-weight: 500;
            }
        }
        &__right {
            @include center;
            gap: pcvw(20);
            &__link {
                @include linkStyles;
                color: $black;
                font-size: pcvw(16);
                font-weight: 500;
            }
            &__button {
                @include linkStyles;
                @include center;
                gap: pcvw(10);
                padding: pcvw(16) pcvw(32);
                border-radius: pcvw(100);
                background: $black;
                color: #FFF;
                font-size: pcvw(14);
                font-weight: 500;
                line-height: pcvw(20);
            }
        }
    }
    &__openbtn {
        height: auto;
        @include sp {
            display: block;
            width: vw(24);
        }
        @include tab {
            display: block;
            width: tbvw(44);
        }
        @include tab-s {
            display: block;
            width: tbvw(34);
        }
    }
}

.banner {
    margin: auto;
    max-width: 1240px;
    @include sp {
        padding: 0px vw(16) 0px vw(16);
    }
    @include tab {
        padding: 0px tbvw(106) 0px tbvw(106);
    }
    @include tab-s {
        padding: 0px tbvw(87.5) 0px tbvw(87.5);
    }
    @include wrap;
    justify-content: space-between;
    &__title {
        color: $black;
        font-size: 72px;
        font-weight: 700;
        line-height: 80px;
        @include sp {
            font-size: vw(32);
            line-height: vw(40);
        }
        @include tab {
            font-size: tbvw(64);
            line-height: tbvw(70);
        }
        @include tab-s {
            font-size: tbvw(52.5);
            height: tbvw(58.3);
        }
    }
    &--highlight {
        color: $orange;
    }
}
.icon{
    @include center;
    position: relative;
    @include sp {
        margin-left: auto;
        margin-top: vw(-36);
    }
    &__circle {
        width: 204px;
        height: 204px;
        @include sp {
            width: vw(102);
            height: vw(102);
        }
        @include tab {
            width: tbvw(181.3);
            height: tbvw(181.3);
        }
        @include tab-s {
            width: tbvw(148.8);
            height: tbvw(148.8);
        }
        &--inner {
            @include center;
            position: absolute;
            width: 164px;
            height: 164px;
            border-radius: 50%;
            background-color: black;
            color: white;
            @include sp {
                width: vw(82);
                height: vw(82);
            }
            @include tab {
                width: tbvw(145.8);
                height: tbvw(145.8);
            }
            @include tab-s {
                width: tbvw(119.6);
                height: tbvw(119.6);
            }
            p {
                font-size: 19.68px;
                color: white;
                text-align: center;
                @include sp {
                    font-size: vw(9.84);
                }
                @include tab {
                    font-size: tbvw(17.5);
                }
                @include tab-s {
                    font-size: tbvw(14.4);
                }
            }
        }
        &--bigger {
            font-size: 39.36px;
            font-weight: 700;
            @include sp {
                font-size: vw(19.68);
            }
            @include tab {
                font-size: tbvw(35);
            }
            @include tab-s {
                font-size: tbvw(28.7)
            }
        }
    }
}

.screen {
    @include center;
    margin-top: pcvw(116);
    background: linear-gradient(to bottom, 
                                white 0%,
                                white 50%,
                                $black 50%,
                                $black 100%,
                                white 100%
                                );
    @include sp {
        margin-top: vw(24);
    }
    @include tab {
        margin-top: tbvw(103.1);
    }
    @include tab-s {
        margin-top: tbvw(84.6);
    }
    &--image {
        width: pcvw(1204);
        max-width: 1204px;
        height: auto;
        border-radius: pcvw(32);
        border: 16px solid $black;
        filter: grayscale(100%);
        @include sp {
            width: vw(324);
            height: auto;
            border-radius: vw(8.611);
            border: vw(4.306) solid $black;
        }
        @include tab {
            width: tbvw(1070.2);
            height: auto;
            border: tbvw(14.2) solid $black;
        }
        @include tab-s {
            width: tbvw(877.9);
            height: auto;
            border: tbvw(11.7) solid $black;
        }
    }
}

.team {
    padding: 118.35px 100px 108px 100px;
    margin-top: -1px;
    background-color: $black;
    @include sp {
        padding: vw(64) vw(18) vw(32) vw(14);
    }
    @include tab {
        padding: tbvw(105.2) tbvw(88.9) tbvw(96) tbvw(88.9);
    }
    @include tab-s {
        padding: tbvw(86.3) tbvw(72.9) tbvw(78.8) tbvw(72.9);
    }
    &__heading {
        max-width: 1240px;
        margin: auto;
        margin-bottom: pcvw(116);
        color: white;
        font-size: 64px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: pcvw(-1.6);
        @include sp {
            font-size: vw(32);
            font-weight: 500;
            line-height: vw(40);
            letter-spacing: -0.8px;
        }
        @include tab {
            font-size: tbvw(56.9);
            font-weight: 600;
            line-height: tbvw(64);
        }
        @include tab-s {
            font-size: tbvw(46.7);
            font-weight: 600;
            line-height: tbvw(52.5);
        }
        &--highlight {
            color: $orange;
        }
    }
    &__images {
        @include center;
        max-width: 1240px;
        margin: auto;
        margin-bottom: pcvw(116);
        flex-wrap: wrap;
        gap: 32px;
        img {
            width: 380px;
            @include sp {
                @include column;
                width: vw(328);
                max-width: 328px;
                height: auto;
                gap: 0px;
            }
        }
        @include team{
            @include column;
            gap: 0px;
            img {
                width: tbvw(348.4);
            }
            img:nth-child(odd) {
                margin-right: auto;
                margin-left: tbvw(50);
            }
            img:nth-child(even) {
                margin-left: auto;
                margin-right: tbvw(50);
                margin-top: tbvw(-40)
            }
            img:last-child {
                margin-top: tbvw(-40);
            }
        }
    }
    &__status {
        @include space-between();
        max-width: 1240px;
        margin: auto;
        @include sp {
            @include column;
        }
        &__link {
            @include center;
            @include linkStyles;
            gap: 16px;
            align-items: flex-end;
            color: #FFF;
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;
            @include sp {
                @include center;
                margin-top: vw(40);
                width: 100%;
                font-size: vw(16);
                font-weight: 500;
                line-height: vw(40);
                gap: vw(16);
                br {
                    display: none;
                }
            }
            img {
                width: 64px;
                height: 64px;
                @include sp {
                    width: vw(32);
                    height: vw(32);
                }
            }
        }
    }
}

.status {
    @include space-between;
    width: 703px;
    gap: pcvw(32);
    color: #FFF;
    list-style: none;
    @include sp {
        @include column;
        @include center;
        width: 100%;
    }
    @include tab {
        width: tbvw(600);
    }
    &__pair{
        @include column;
        gap: pcvw(8);
    }
    &__number{
        font-size: 64px;
        color: $orange;
        font-weight: 700;
        line-height: 72px;
        margin-bottom: 8px;
        @include sp {
            font-size: vw(40);
            line-height: vw(48); 
        }
        @include tab {
            font-size: tbvw(56.9);
            line-height: tbvw(64);
        }
        @include tab-s {
            font-size: tbvw(46.7);
            line-height: tbvw(52.5);
        }
    }
    &__description {
        font-size: 32px;
        font-weight: 400;
        line-height: 24px;
        @include sp {
            margin: auto;
            font-size: vw(16);
            line-height: vw(24);
        }
        @include tab {
            font-size: tbvw(28.4);
            line-height: tbvw(21.3);
        }
        @include tab-s {
            font-size: tbvw(23.3);
            line-height: tbvw(17.5);
        }
    }
}

.features {
    display: flex;
    align-items: flex-start;
    padding-top : 116px;
    padding-bottom: 116px;
    max-width: 1240px;
    margin: auto;
    gap: pcvw(30);
    @include sp {
        @include wrap;
        padding: vw(32) vw(18) vw(64) vw(14);
        gap: vw(32);
    }
    @include tab {
        padding: tbvw(116) tbvw(88) tbvw(116) tbvw(88);
        gap: tbvw(26.7);
    }
    @include tab-s {
        padding: tbvw(116) tbvw(80) tbvw(116) tbvw(88);
        gap: tbvw(21.9);
    }
    &__text {
        width: 604px;
        @include sp {
            width: 100%;
        }
        h2 {
            font-size: 56px;
            color: $black;
            font-weight: 700;
            line-height: 64px;
            letter-spacing: -1.4px;
            margin: 0;
            margin-bottom: 24px;
            @include sp {
                font-size: vw(32);
                line-height: vw(40);
                letter-spacing: vw(-0.8);
                margin-bottom: vw(24);
            }
            @include tab {
                font-size: tbvw(49.8);
                line-height: tbvw(56.9);
                margin-bottom: tbvw(21.3);
            }
            @include tab-s {
                font-size: tbvw(40.8);
                line-height: tbvw(46.7);
                margin-bottom: tbvw(17.5);
            }
        }
        p {
            font-size: 16px;
            color: $black;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: pcvw(-0.4);
            margin-bottom: 24px;
            @include sp {
                font-size: vw(16);
                line-height: vw(24);
                letter-spacing: vw(-0.4);
                margin-bottom: vw(24);
            }
            @include tab {
                font-size: tbvw(14.2);
                line-height: tbvw(21.3);
                margin-bottom: tbvw(21.3);
            }
            @include tab-s {
                font-size: tbvw(11.7);
                line-height: tbvw(17.5);
                margin-bottom: tbvw(17.5);
            }
        }
    }
    &__button {
        @include linkStyles;
        font-family: Inter;
        background: $black;
        padding: pcvw(16) pcvw(32);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        color: #FFF;
        font-size: pcvw(14);
        font-weight: 500;
        line-height: pcvw(20);
        @include sp {
            padding: vw(16) vw(32);
            font-size: vw(14);
            line-height: vw(20);
        }
        @include tab {
            padding: tbvw(14.2) tbvw(28.4);
            font-size: tbvw(12.4);
            line-height: tbvw(17.8);
        }
        @include tab-s {
            padding: tbvw(11.7) tbvw(23.3);
            font-size: tbvw(10.2);
            line-height: tbvw(14.6);
        }
    }
}

.items {
    @include column;
    gap: 32px;
    @include sp {
        gap: vw(32);
    }
    @include tab {
        gap: tbvw(32);
    }
    &__row {
        display: flex;
        align-items: flex-start;
        gap: 34px;
        @include sp {
            @include column;
            gap: vw(32);
        }
        @include tab {
            gap: tbvw(32);
        }
    }
    &__col {
        @include column;
        width: 286px;
        height: 280px;
        gap: pcvw(16);
        @include sp {
            @include center;
            gap: vw(18.36);
            width: 100%;
            height: auto;
        }
        @include tab {
            width: tbvw(254.2);
            height: tbvw(248.9);
        }
        @include tab-s {
            width: tbvw(208.5);
            height: tbvw(204.2);
        }
        img {
            width: 128px;
            height: 128px;
            @include sp {
                width: vw(96);
                height: auto;
            }
            @include tab {
                width: tbvw(113.8);
                height: auto;
            }
            @include tab-s {
                width: tbvw(93.3);
                height: auto;
            }
        }
        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            @include sp {
                font-size: vw(24);
                line-height: vw(32); 
            }
            @include tab {
                font-size: tbvw(21.3);
                line-height: tbvw(28.4);
            }
            @include tab-s {
                font-size: tbvw(17.5);
                line-height: tbvw(23.3);
            }
        }
        p {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            @include sp {
                text-align: center;
                font-size: vw(16);
                line-height: vw(24);
            }
            @include tab {
                font-size: tbvw(16);
                line-height: tbvw(24);
            }
            @include tab-s {
                font-size: tbvw(16);
                line-height: tbvw(24);
            }
        }
    }
}

.cta {
    @include center;
    width: 1240px;
    max-width: 1240px;
    background-color: $black;
    padding: 116px 0px;
    flex-direction: column;
    border-radius: 32px;
    margin: auto;
    gap: pcvw(24);
    @include sp {
        width: vw(328);
        padding: vw(24) vw(16);
        gap: vw(16);
    }
    @include tab {
        width: tbvw(1100);
        padding: tbvw(110) 0px;
    }
    h2 {
        color: #FFF;
        font-size: 56px;
        font-weight: 700;
        line-height: pcvw(64);
        @include sp {
            text-align: center;
            font-size: vw(32);
            line-height: vw(40);
        }
        @include tab {
            font-size: tbvw(49.8);
            line-height: tbvw(56.9);
        }
    }
    p {
        color: #FFF;
        font-size: pcvw(16);
        font-style: normal;
        font-weight: 400;
        line-height: pcvw(24);
        @include sp {
            text-align: center;
            width: vw(253);
            font-size: vw(16);
            line-height: vw(24);
        }
        @include tab {
            font-size: tbvw(14.2);
            line-height: tbvw(21.3);
        }
    }
    &__button {
        @include linkStyles;
        display: flex;
        padding: pcvw(16) pcvw(32);
        align-items: flex-start;
        gap: pcvw(10);
        border-radius: 32px;
        background-color: $orange;
        color: $black;
        font-size: pcvw(14);
        font-weight: 500;
        line-height: pcvw(20);
        @include sp {
            padding: vw(16) vw(32);
            gap: vw(10);
            font-size: vw(14);
            line-height: vw(20);
        }
        @include tab {
            padding: tbvw(14.2) tbvw(28.4);
            gap: tbvw(10);
            font-size: tbvw(12.4);
            line-height: tbvw(17.8);
        }
    }
}

.footer {
    display: flex;
    max-width: 1240px;
    margin: 116px auto;
    justify-content: space-between;
    align-items: flex-start;
    @include sp {
        @include column;
        gap: vw(32);
    }
    @include tab {
        width: tbvw(1100);
    }
    &__icons {
        @include column;
        justify-content: space-between;
        align-self: stretch;
        @include sp {
            @include center;
            order: 2;
            gap: vw(16);
        }
        &__logo {
            width: pcvw(96);
            height: auto;
            @include sp {
                width: vw(96);
                height: auto;
            }
        }
        &__sns {
            display: flex;
            align-items: flex-start;
            gap: 8px;
            img {
                width: pcvw(24);
                height: auto;
                @include sp {
                    @include center;
                    width: vw(24);
                    height: auto;
                }
            }
        }
    }
    &__link {
        display: flex;
        align-items: flex-start;
        gap: 32px;
        align-self: stretch;
        @include sp {
            @include column;
            order: 1;
            gap: vw(32);
        }
        &__theme {
            @include column;
            width: 180px;
            gap: 16px;
            @include sp {
                width: vw(180);
                margin-left: vw(10);
                gap: vw(16);
            }
            @include tab {
                width: tbvw(160);
                gap: tbvw(16);
            }
            ul {
                list-style: none;
                li {
                    text-align: left;
                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 26px;
                        @include sp {
                            font-size: vw(18);
                            line-height: vw(26);
                        }
                        @include tab {
                            font-size: tbvw(16);
                            line-height: tbvw(23.1);
                        }
                        @include tab-s {
                            font-size: tbvw(13.1);
                            line-height: tbvw(19);
                        }
                    }
                    a {
                        @include linkStyles;
                        color: $black;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        @include sp {
                            font-size: vw(16);
                            line-height: vw(24);
                        }
                        @include tab {
                            font-size: tbvw(14.2);
                            line-height: tbvw(21.3);
                        }
                        @include tab-s {
                            font-size: tbvw(11.7);
                            line-height: tbvw(17.5);
                        }
                    }
                }
                li:not(:last-child) {
                    margin-bottom: pcvw(8);
                }
                @include sp {
                    li:not(:last-child) {
                        margin-bottom: vw(8);
                    }
                }
            }
        }
    }
}

/* fadeUp */

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity:0;
}
@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger{
    opacity: 0;
}