body {
  font-family: Arial;
  color: #262626;
}

#first {
  background-color: #FEEDBC;
}

#first .content {
  max-width: 1400px;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 98px;
}

#first .content .top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #fff;
  border-radius: 5000px;
}

#first .content .bottom {
  margin-top: 155px;
  display: flex;
  justify-content: space-between;
}

#first .content .bottom p {
  color: #F9B800;
  font-size: 30px;
  font-weight: 700;
}

#first .content .bottom h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 90px;
}

#first .content .bottom ul {
  max-width: 683px;
  margin-top: 43px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 14px;
}

#first .content .bottom ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 40px 14px 20px;
  gap: 7px;
  border-radius: 5000px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#first .content .bottom a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-top: 69px;
  padding: 22px 50px 24px 50px;
  border-radius: 5000px;
  background-color: #F9B800;
  font-size: 24px;
  font-weight: 700;
  color: #262626;
}

#first .content .bottom a:hover {
  opacity: 0.7;
}

#second {
  background-color: #F9B800;
}

#second .content {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding-top: 102px;
  padding-bottom: 100px;
}

#second .content .left h2 {
  width: 528.514px;
  font-size: 50px;
  font-weight: 700;
}

#second .content .left h3 {
  margin-top: 41px;
  width: 575.301px;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  /* 170% */
  text-decoration-line: underline;
}

#second .content .left p {
  margin-top: 16px;
  width: 575.301px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
}

#second .content .left a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-top: 87px;
  padding: 22px 50px 24px 50px;
  border-radius: 5000px;
  background-color: #262626;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

#second .content .left a:hover {
  opacity: 0.7;
}

#third {
  background-color: #262626;
}

#third .content {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 99px;
}

#third .content .left p {
  width: 552.063px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #F9B800;
}

#third .content .left h2 {
  width: 530px;
  margin-top: 20px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

#third .content .left a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-top: 60px;
  padding: 22px 50px 24px 50px;
  border-radius: 5000px;
  background-color: #fff;
  font-size: 24px;
  font-weight: 700;
  color: #262626;
}

#third .content .left a:hover {
  opacity: 0.7;
}

#third .content .right {
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

#third .content .right__box {
  width: 350px;
  height: 400px;
  border-radius: 60px;
}

#third .content .right__box__content {
  margin: 50px 50px auto 50px;
}

#third .content .right__box__content h3 {
  margin-top: 24px;
  font-size: 72px;
  font-weight: 700;
}

#third .content .right__box__content h4 {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}

#third .content .right__box__content h5 {
  margin-top: 19px;
  font-size: 20px;
  font-weight: 700;
}

#third .content .right__box__content p {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

#third .white {
  background-color: #fff;
}

#third .white span {
  color: #F9B800;
}

#third .yellow {
  background-color: #F9B800;
}

#third .yellow span {
  color: #fff;
}

#fourth {
  background-color: #FEEDBC;
}

#fourth .content {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 135px;
}

#fourth .content .left h2 {
  width: 599.558px;
  font-size: 50px;
  font-weight: 700;
}

#fourth .content .left ul {
  max-width: 633px;
  margin-top: 43px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 14px;
}

#fourth .content .left ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 40px 14px 20px;
  gap: 7px;
  border-radius: 5000px;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
}

#fourth .content .left a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-top: 74px;
  padding: 22px 50px 24px 50px;
  border-radius: 5000px;
  background-color: #262626;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

#fourth .content .left a:hover {
  opacity: 0.7;
}

#fourth .content .right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 650px;
  background-color: #fff;
}

#fourth .content .right img {
  width: 600px;
  height: auto;
}

#fifth {
  background-color: #F9B800;
}

#fifth .content {
  max-width: 1400px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 70px;
}

#fifth .content h2 {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  color: #fff;
}

#fifth .content h3 {
  margin-top: 14px;
  margin-bottom: 90px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
}

#fifth .content__accordion {
  margin-bottom: 24px;
  padding: 52px;
  min-height: 140px;
  background-color: #fff;
  border-radius: 40px;
}

#fifth .content__accordion__toggle {
  display: none;
}

#fifth .content__accordion label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fifth .content__accordion label h4 {
  user-select: none;
  font-size: 30px;
  font-weight: 700;
}

#fifth .content__accordion p {
  margin-top: 34px;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

#fifth .content__accordion #hidden {
  display: none;
}

#fifth .content__accordion #show {
  display: block;
}

#sixth {
  background-color: #FEEDBC;
}

#sixth .content {
  max-width: 1400px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

#sixth .content .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 53px;
  border-bottom: 1px solid rgba(38, 38, 38, 0.12);
}

#sixth .content .top__left h2 {
  width: 713.136px;
  font-size: 50px;
  font-weight: 700;
}

#sixth .content .top__right a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  padding: 22px 50px 24px 50px;
  border-radius: 5000px;
  background-color: #F9B800;
  font-size: 24px;
  font-weight: 700;
  color: #262626;
}

#sixth .content .top__right a:hover {
  opacity: 0.7;
}

#sixth .content .bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 52px;
}

#sixth .content .bottom__left p {
  font-size: 20px;
  font-weight: 700;
}

#sixth .content .bottom__right {
  display: flex;
}

#sixth .content .bottom__right a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  text-decoration-line: underline;
  color: #262626;
}

#sixth .content .bottom__right a:hover {
  opacity: 0.7;
}

#sixth .content .bottom__right p {
  user-select: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
}
