@charset "UTF-8";
body {
  font-family: Montserrat;
  color: #333;
}

header {
  width: 1440px;
  padding: 0px 108px;
  margin-bottom: 12px;
}

header .banner {
  width: 1224px;
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .banner__logo {
  display: flex;
  align-items: center;
}

header .banner__logo h3 {
  color: #333;
  font-family: Vollkorn;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
}

header .banner__nav {
  display: flex;
  align-items: center;
  padding-left: 32px;
  gap: 24px;
}

header .banner__nav__link {
  display: flex;
  gap: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

header .banner__nav__link a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: #222;
}

header .banner__nav__link a:hover {
  opacity: 0.7;
}

header .banner__nav__button {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  background-color: #000;
  padding: 18px 23.5px 18px 23.5px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

header .banner__nav__button:hover {
  opacity: 0.7;
}

.top {
  width: 1440px;
  padding: 80px 108px;
  background: #000;
  margin-bottom: 12px;
}

.top__text {
  width: 574px;
  margin: 0px 325px 32px 325px;
  text-align: center;
}

.top__text h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
}

.top__text p {
  margin-bottom: 33px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.top__text__link {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.top__text__link--button1 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 160px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  /* テキストを垂直方向に中央配置 */
  background-color: #000;
  border: 1px solid #F5F5F5;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.top__text__link--button1:hover {
  opacity: 0.7;
}

.top__text__link--button2 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  color: #211F54;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.top__text__link--button2:hover {
  opacity: 0.7;
}

.top img {
  width: 1224px;
  height: auto;
}

.company {
  width: 1440px;
  display: flex;
  justify-content: center;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.company__container {
  display: flex;
  align-items: center;
  width: 1384px;
  height: 121px;
}

.company__container__box {
  width: 197.72px;
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #E5E5E5;
}

.company__container__box:first-child {
  border-left: none;
}

.features {
  display: flex;
  width: 1440px;
  padding: 80px 108px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.features__box {
  width: 376px;
  height: 176px;
}

.features__box img {
  display: block;
  margin-bottom: 20px;
}

.features__box h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding: 0px;
  margin-bottom: 10px;
}

.features__box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-right: 16px;
}

.inquiry {
  width: 1440px;
  padding: 80px 108px;
  justify-content: center;
  align-items: center;
}

.inquiry__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.inquiry__box__text {
  width: 598px;
  height: 256px;
}

.inquiry__box__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 10px;
}

.inquiry__box__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 48px;
}

.inquiry__box__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.inquiry__box__text__link--button1 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 160px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  /* テキストを垂直方向に中央配置 */
  background-color: #000;
  border: 1px solid #F5F5F5;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.inquiry__box__text__link--button1:hover {
  opacity: 0.7;
}

.inquiry__box__text__link--button2 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  color: #211F54;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.inquiry__box__text__link--button2:hover {
  opacity: 0.7;
}

.inquiry__box__img {
  width: 490px;
  height: 490px;
}

.analyses {
  width: 1440px;
  padding: 80px 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
  background: #000;
}

.analyses__img {
  width: 563px;
  height: 320px;
  max-width: 1224px;
}

.analyses__text {
  width: 598px;
  height: 256px;
}

.analyses__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  margin-bottom: 10px;
}

.analyses__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin-bottom: 48px;
}

.analyses__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.analyses__text__link--button1 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 160px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  /* テキストを垂直方向に中央配置 */
  background-color: #000;
  border: 1px solid #F5F5F5;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.analyses__text__link--button1:hover {
  opacity: 0.7;
}

.analyses__text__link--button2 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  color: #211F54;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.analyses__text__link--button2:hover {
  opacity: 0.7;
}

.inquiry2 {
  width: 1440px;
  padding: 80px 108px;
  justify-content: center;
  align-items: center;
}

.inquiry2__box {
  display: flex;
  align-items: center;
  padding-right: 108px;
  gap: 28px;
}

.inquiry2__box__text {
  width: 598px;
  height: 256px;
}

.inquiry2__box__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 10px;
}

.inquiry2__box__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 48px;
}

.inquiry2__box__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.inquiry2__box__text__link--button1 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 160px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  /* テキストを垂直方向に中央配置 */
  background-color: #000;
  border: 1px solid #F5F5F5;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.inquiry2__box__text__link--button1:hover {
  opacity: 0.7;
}

.inquiry2__box__text__link--button2 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  color: #211F54;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.inquiry2__box__text__link--button2:hover {
  opacity: 0.7;
}

.inquiry2__box__img {
  width: 490px;
  height: 490px;
}

.analyses2 {
  width: 1440px;
  padding: 80px 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
  background: #000;
}

.analyses2__img {
  width: 564px;
  height: 423px;
  max-width: 1224px;
}

.analyses2__text {
  width: 598px;
  height: 256px;
}

.analyses2__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  margin-bottom: 10px;
}

.analyses2__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin-bottom: 48px;
}

.analyses2__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.analyses2__text__link--button1 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 160px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  /* テキストを垂直方向に中央配置 */
  background-color: #000;
  border: 1px solid #F5F5F5;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.analyses2__text__link--button1:hover {
  opacity: 0.7;
}

.analyses2__text__link--button2 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  color: #211F54;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.analyses2__text__link--button2:hover {
  opacity: 0.7;
}

.meeting {
  width: 1440px;
  padding: 80px 108px;
  justify-content: center;
  align-items: center;
}

.meeting__box {
  display: flex;
  align-items: center;
  padding-right: 34px;
  gap: 28px;
}

.meeting__box__text {
  width: 598px;
  height: 256px;
}

.meeting__box__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 10px;
}

.meeting__box__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 48px;
}

.meeting__box__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.meeting__box__text__link--button1 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 160px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  /* テキストを垂直方向に中央配置 */
  background-color: #000;
  border: 1px solid #F5F5F5;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.meeting__box__text__link--button1:hover {
  opacity: 0.7;
}

.meeting__box__text__link--button2 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  color: #211F54;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.meeting__box__text__link--button2:hover {
  opacity: 0.7;
}

.meeting__box__img {
  width: 564px;
  height: 564px;
}

.bottom {
  width: 1440px;
  padding: 80px 108px;
  align-items: center;
  background: #000;
}

.bottom__box {
  width: 1224px;
  max-width: 1400px;
  padding: 0px 325px;
  justify-content: center;
  text-align: center;
}

.bottom__box h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  margin-bottom: 10px;
}

.bottom__box p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 31.9px 33px 32.1px;
}

.bottom__box__link {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.bottom__box__link--button1 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 160px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  /* テキストを垂直方向に中央配置 */
  background-color: #000;
  border: 1px solid #F5F5F5;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.bottom__box__link--button1:hover {
  opacity: 0.7;
}

.bottom__box__link--button2 {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  color: #211F54;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.bottom__box__link--button2:hover {
  opacity: 0.7;
}

.footer {
  width: 1440px;
  padding: 70px;
}

.footer a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: #333945;
  font-size: 18.2px;
  font-weight: 400;
  line-height: 23.66px;
}

.footer a:hover {
  opacity: 0.7;
}

.footer__link {
  display: flex;
}

.footer__link__theme {
  width: 237.59px;
  align-items: flex-start;
  padding-bottom: 35px;
}

.footer__link__theme h3 {
  font-size: 21px;
  font-weight: 600;
  line-height: 27.3px;
  text-transform: uppercase;
  padding-bottom: 26.6px;
}

.footer__link__theme ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 13.7px;
  margin-top: 13.7px;
}

.footer__language {
  padding: 29px 510.97px 29px 511.23px;
  margin: 42px 0px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #D4D6DB;
  border-bottom: 1px solid #D4D6DB;
}

.footer__language__list {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  gap: 13.9px;
}

.footer__language__list:hover {
  opacity: 0.7;
}

.footer__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__detail__left {
  display: flex;
  gap: 20.7px;
}

.footer__detail__right {
  font-size: 18.2px;
  font-weight: 400;
  line-height: 23.66px;
}
