@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin wrap{
    display: flex;
    flex-wrap: wrap;
}
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@mixin linkStyles {
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
        opacity: 0.7;
    }
}

.top {
    padding: 80px 108px;
    background: #000;
    text-align: center;
    &__text {
        width: 574px;
        margin: 0px 325px 32px 325px;
        h1 {
            margin: 0px 44.91px 16px 45.09px;
            color: #fff;
            font-size: 42px;
            font-weight: 700;
            line-height: 42px;
        }
        p {
            margin: 0px 8.91px 33px 9.09px;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px; 
        }
        &__link {
            margin: 0px 111.66px 0px 111.88px;
            align-items: center;
            gap: 28px;
        }
    }
    img {
        width: 1224px;
        height: 486px;
        max-width: 1224px;
    }
}

.features {
    display: flex;
    width: 1440px;
    padding: 80px 108px;
    justify-content: center;
    align-items: center;
}