@charset "UTF-8";
body {
  font-family: Montserrat;
  color: #333;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  min-width: 1440px;
  padding: 0px 108px;
  margin-bottom: 12px;
}

header .banner {
  max-width: 1224px;
  padding: 16px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header .banner__logo {
  display: flex;
  align-items: center;
}

header .banner__logo h3 {
  color: #333;
  font-family: Vollkorn;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
}

header .banner__nav {
  display: flex;
  align-items: center;
  padding-left: 32px;
  gap: 24px;
}

header .banner__nav__link {
  display: flex;
  gap: 32px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

header .banner__nav__link a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: #222;
}

header .banner__nav__link a:hover {
  opacity: 0.7;
}

header .banner__nav__button {
  width: 142.25px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #F5F5F5;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

header .banner__nav__button a {
  position: relative;
  transition: all .35s ease-Out;
  color: #FFF;
  text-decoration: none;
}

header .banner__nav__button .slide {
  width: 100%;
  height: 100%;
  left: -142px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

header .banner__nav__button:hover {
  border: 1px solid #000;
}

header .banner__nav__button:hover a {
  color: #000;
}

header .banner__nav__button:hover .slide {
  left: 0;
}

.top {
  min-width: 1440px;
  background: #000;
  margin-bottom: 12px;
}

.top .container {
  width: 1224px;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 80px;
}

.top .container__text {
  width: 574px;
  margin: auto;
  margin-bottom: 32px;
  text-align: center;
}

.top .container__text h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
}

.top .container__text p {
  margin-bottom: 33px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.top .container__text__link {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.top .container__text__link--button1 {
  width: 160px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #F5F5F5;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.top .container__text__link--button1 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #FFF;
  text-decoration: none;
}

.top .container__text__link--button1 .slide {
  width: 100%;
  height: 100%;
  left: -160px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.top .container__text__link--button1:hover {
  border: 1px solid #000;
}

.top .container__text__link--button1:hover a {
  color: #000;
}

.top .container__text__link--button1:hover .slide {
  left: 0;
}

.top .container__text__link--button2 {
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.top .container__text__link--button2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #211F54;
  text-decoration: none;
}

.top .container__text__link--button2 .circle {
  width: 0%;
  height: 0%;
  opacity: 0.5;
  line-height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0, 1);
  top: 26px;
  left: 81px;
}

.top .container__text__link--button2:hover {
  border: 1px solid #fff;
}

.top .container__text__link--button2:hover a {
  color: #fff;
}

.top .container__text__link--button2:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -80px;
  left: -75px;
}

.top .container img {
  width: 1224px;
  height: auto;
}

.company {
  min-width: 1440px;
  padding: 1px 28px 1px 28px;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
}

.company__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 121px;
}

.company__container__box {
  min-width: 197.72px;
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #E5E5E5;
}

.company__container__box:first-child {
  border-left: none;
}

.features {
  min-width: 1440px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.features .container {
  width: 1224px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.features .container__box {
  width: 376px;
  height: 176px;
}

.features .container__box img {
  display: block;
  margin-bottom: 20px;
}

.features .container__box h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  padding: 0px;
  margin-bottom: 10px;
}

.features .container__box p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-right: 16px;
}

.inquiry {
  min-width: 1440px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.inquiry__box {
  width: 1224px;
  padding-left: 54px;
  padding-right: 54px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 28px;
}

.inquiry__box__text {
  min-width: 598px;
  height: 256px;
}

.inquiry__box__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 10px;
}

.inquiry__box__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 48px;
}

.inquiry__box__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.inquiry__box__text__link--button1 {
  width: 160px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #F5F5F5;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.inquiry__box__text__link--button1 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #FFF;
  text-decoration: none;
}

.inquiry__box__text__link--button1 .slide {
  width: 100%;
  height: 100%;
  left: -160px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.inquiry__box__text__link--button1:hover {
  border: 1px solid #000;
}

.inquiry__box__text__link--button1:hover a {
  color: #000;
}

.inquiry__box__text__link--button1:hover .slide {
  left: 0;
}

.inquiry__box__text__link--button2 {
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.inquiry__box__text__link--button2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #211F54;
  text-decoration: none;
}

.inquiry__box__text__link--button2 .circle {
  width: 0%;
  height: 0%;
  opacity: 0.5;
  line-height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0, 1);
  top: 26px;
  left: 81px;
}

.inquiry__box__text__link--button2:hover {
  border: 1px solid #fff;
}

.inquiry__box__text__link--button2:hover a {
  color: #fff;
}

.inquiry__box__text__link--button2:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -80px;
  left: -75px;
}

.inquiry__box__img {
  width: 490px;
  height: 490px;
}

.analyses {
  min-width: 1440px;
  background: #000;
  padding-top: 80px;
  padding-bottom: 80px;
}

.analyses .container {
  width: 1224px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 63px;
}

.analyses .container__img {
  width: 563px;
  height: 320px;
  max-width: 1224px;
}

.analyses .container__text {
  width: 598px;
  height: 256px;
}

.analyses .container__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  margin-bottom: 10px;
}

.analyses .container__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin-bottom: 48px;
}

.analyses .container__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.analyses .container__text__link--button1 {
  width: 160px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #F5F5F5;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.analyses .container__text__link--button1 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #FFF;
  text-decoration: none;
}

.analyses .container__text__link--button1 .slide {
  width: 100%;
  height: 100%;
  left: -160px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.analyses .container__text__link--button1:hover {
  border: 1px solid #000;
}

.analyses .container__text__link--button1:hover a {
  color: #000;
}

.analyses .container__text__link--button1:hover .slide {
  left: 0;
}

.analyses .container__text__link--button2 {
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.analyses .container__text__link--button2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #211F54;
  text-decoration: none;
}

.analyses .container__text__link--button2 .circle {
  width: 0%;
  height: 0%;
  opacity: 0.5;
  line-height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0, 1);
  top: 26px;
  left: 81px;
}

.analyses .container__text__link--button2:hover {
  border: 1px solid #fff;
}

.analyses .container__text__link--button2:hover a {
  color: #fff;
}

.analyses .container__text__link--button2:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -80px;
  left: -75px;
}

.inquiry2 {
  min-width: 1440px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.inquiry2__box {
  width: 1224px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 28px;
}

.inquiry2__box__text {
  width: 598px;
  height: 256px;
}

.inquiry2__box__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 10px;
}

.inquiry2__box__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 48px;
}

.inquiry2__box__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.inquiry2__box__text__link--button1 {
  width: 160px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #F5F5F5;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.inquiry2__box__text__link--button1 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #FFF;
  text-decoration: none;
}

.inquiry2__box__text__link--button1 .slide {
  width: 100%;
  height: 100%;
  left: -160px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.inquiry2__box__text__link--button1:hover {
  border: 1px solid #000;
}

.inquiry2__box__text__link--button1:hover a {
  color: #000;
}

.inquiry2__box__text__link--button1:hover .slide {
  left: 0;
}

.inquiry2__box__text__link--button2 {
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.inquiry2__box__text__link--button2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #211F54;
  text-decoration: none;
}

.inquiry2__box__text__link--button2 .circle {
  width: 0%;
  height: 0%;
  opacity: 0.5;
  line-height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0, 1);
  top: 26px;
  left: 81px;
}

.inquiry2__box__text__link--button2:hover {
  border: 1px solid #fff;
}

.inquiry2__box__text__link--button2:hover a {
  color: #fff;
}

.inquiry2__box__text__link--button2:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -80px;
  left: -75px;
}

.inquiry2__box__img {
  width: 490px;
  height: 490px;
}

.analyses2 {
  min-width: 1440px;
  background: #000;
  padding-top: 80px;
  padding-bottom: 80px;
}

.analyses2 .container {
  width: 1224px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 62px;
}

.analyses2 .container__img {
  width: 564px;
  height: 423px;
}

.analyses2 .container__text {
  width: 598px;
  height: 256px;
}

.analyses2 .container__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  margin-bottom: 10px;
}

.analyses2 .container__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  margin-bottom: 48px;
}

.analyses2 .container__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.analyses2 .container__text__link--button1 {
  width: 160px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #F5F5F5;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.analyses2 .container__text__link--button1 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #FFF;
  text-decoration: none;
}

.analyses2 .container__text__link--button1 .slide {
  width: 100%;
  height: 100%;
  left: -160px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.analyses2 .container__text__link--button1:hover {
  border: 1px solid #000;
}

.analyses2 .container__text__link--button1:hover a {
  color: #000;
}

.analyses2 .container__text__link--button1:hover .slide {
  left: 0;
}

.analyses2 .container__text__link--button2 {
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.analyses2 .container__text__link--button2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #211F54;
  text-decoration: none;
}

.analyses2 .container__text__link--button2 .circle {
  width: 0%;
  height: 0%;
  opacity: 0.5;
  line-height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0, 1);
  top: 26px;
  left: 81px;
}

.analyses2 .container__text__link--button2:hover {
  border: 1px solid #fff;
}

.analyses2 .container__text__link--button2:hover a {
  color: #fff;
}

.analyses2 .container__text__link--button2:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -80px;
  left: -75px;
}

.meeting {
  min-width: 1440px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.meeting__box {
  width: 1224px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 28px;
}

.meeting__box__text {
  width: 598px;
  height: 256px;
}

.meeting__box__text h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  margin-bottom: 10px;
}

.meeting__box__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 48px;
}

.meeting__box__text__link {
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.meeting__box__text__link--button1 {
  width: 160px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #F5F5F5;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.meeting__box__text__link--button1 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #FFF;
  text-decoration: none;
}

.meeting__box__text__link--button1 .slide {
  width: 100%;
  height: 100%;
  left: -160px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.meeting__box__text__link--button1:hover {
  border: 1px solid #000;
}

.meeting__box__text__link--button1:hover a {
  color: #000;
}

.meeting__box__text__link--button1:hover .slide {
  left: 0;
}

.meeting__box__text__link--button2 {
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.meeting__box__text__link--button2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #211F54;
  text-decoration: none;
}

.meeting__box__text__link--button2 .circle {
  width: 0%;
  height: 0%;
  opacity: 0.5;
  line-height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0, 1);
  top: 26px;
  left: 81px;
}

.meeting__box__text__link--button2:hover {
  border: 1px solid #fff;
}

.meeting__box__text__link--button2:hover a {
  color: #fff;
}

.meeting__box__text__link--button2:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -80px;
  left: -75px;
}

.meeting__box__img {
  width: 564px;
  height: 564px;
}

.bottom {
  min-width: 1440px;
  background: #000;
  padding-top: 80px;
  padding-bottom: 80px;
}

.bottom__box {
  width: 1224px;
  margin: auto;
  padding: 0px 325px;
  text-align: center;
}

.bottom__box h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  margin-bottom: 10px;
}

.bottom__box p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 31.9px 33px 32.1px;
}

.bottom__box__link {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.bottom__box__link--button1 {
  width: 160px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 1px solid #F5F5F5;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.bottom__box__link--button1 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #FFF;
  text-decoration: none;
}

.bottom__box__link--button1 .slide {
  width: 100%;
  height: 100%;
  left: -160px;
  background: #fff;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.bottom__box__link--button1:hover {
  border: 1px solid #000;
}

.bottom__box__link--button1:hover a {
  color: #000;
}

.bottom__box__link--button1:hover .slide {
  left: 0;
}

.bottom__box__link--button2 {
  width: 162px;
  height: 54px;
  display: flex;
  /* フレックスコンテナとして設定 */
  justify-content: center;
  /* テキストを水平方向に中央配置 */
  align-items: center;
  border-radius: 48px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.bottom__box__link--button2 a {
  position: relative;
  transition: all .35s ease-Out;
  color: #211F54;
  text-decoration: none;
}

.bottom__box__link--button2 .circle {
  width: 0%;
  height: 0%;
  opacity: 0.5;
  line-height: 40px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.5, 0.01, 0, 1);
  top: 26px;
  left: 81px;
}

.bottom__box__link--button2:hover {
  border: 1px solid #fff;
}

.bottom__box__link--button2:hover a {
  color: #fff;
}

.bottom__box__link--button2:hover .circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -80px;
  left: -75px;
}

footer {
  min-width: 1440px;
  padding-top: 70px;
  padding-bottom: 70px;
}

footer .container {
  width: 1300px;
  margin: auto;
}

footer .container a {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  color: #333945;
  font-size: 18.2px;
  font-weight: 400;
  line-height: 23.66px;
}

footer .container a:hover {
  opacity: 0.7;
}

footer .container__link {
  display: flex;
  justify-content: space-between;
}

footer .container__link__theme {
  width: 237.59px;
  align-items: flex-start;
  padding-bottom: 35px;
}

footer .container__link__theme h3 {
  font-size: 21px;
  font-weight: 600;
  line-height: 27.3px;
  text-transform: uppercase;
  padding-bottom: 26.6px;
}

footer .container__link__theme ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 13.7px;
  margin-top: 13.7px;
  color: #333945;
  font-size: 18.2px;
  font-weight: 400;
  line-height: 23.66px;
}

footer .container__language {
  padding: 29px 510.97px 29px 511.23px;
  margin: 42px 0px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #D4D6DB;
  border-bottom: 1px solid #D4D6DB;
}

footer .container__language__list {
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  gap: 13.9px;
  color: #010102;
  font-size: 18.2px;
  font-weight: 400;
  line-height: 23.66px;
  /* 130% */
  text-decoration-line: underline;
}

footer .container__language__list:hover {
  opacity: 0.7;
}

footer .container__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333945;
  font-size: 18.2px;
  font-weight: 400;
  line-height: 23.66px;
}

footer .container__detail__left {
  display: flex;
  gap: 20.7px;
}

footer .container__detail__right {
  font-size: 18.2px;
  font-weight: 400;
  line-height: 23.66px;
}
