@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin wrap{
    display: flex;
    flex-wrap: wrap;
}
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@mixin linkStyles {
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
        opacity: 0.7;
    }
}
@mixin service {
    display: flex;
    width: 1440px;
    padding: 80px 108px;
    justify-content: center;
    align-items: center;
}
@mixin h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
}
@mixin p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
@mixin linkStyles {
    text-decoration: none;
    opacity: 1;
    transition: opacity 0.5s;
    &:hover {
        opacity: 0.7;
    }
}

body {
    font-family: Montserrat;
    color: #333;
}

@mixin button1 {
    @include linkStyles;
    width: 160px;
    height: 54px;
    display: flex; /* フレックスコンテナとして設定 */
    justify-content: center; /* テキストを水平方向に中央配置 */
    align-items: center; /* テキストを垂直方向に中央配置 */
    background-color: #000;
    border: 1px solid #F5F5F5;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

@mixin button2 {
    @include linkStyles;
    width: 162px;
    height: 54px;
    display: flex; /* フレックスコンテナとして設定 */
    justify-content: center; /* テキストを水平方向に中央配置 */
    align-items: center;
    border-radius: 48px;
    border: 1px solid #000;
    background: #FFF;
    color: #211F54;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

header {
    min-width: 1440px;
    padding: 0px 108px;
    margin-bottom: 12px;
    .banner {
        max-width: 1224px;
        padding: 16px 0px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        &__logo {
            display: flex;
            align-items: center;
            h3 {
                color: #333;
                font-family: Vollkorn;
                font-size: 32px;
                font-weight: 400;
                line-height: 35.2px; 
            }
        }
        &__nav {
            display: flex;
            align-items: center;
            padding-left: 32px;
            gap: 24px;
            &__link {
                display: flex;
                gap: 32px;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                a {
                    @include linkStyles;
                    color: #222;
                }
            }
            &__button {
                @include linkStyles;
                background-color: #000;
                padding: 18px 23.5px 18px 23.5px;
                color: #FFF;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
            }
        }
    }
}

.top {
        min-width: 1440px;
        background: #000;
        margin-bottom: 12px;
    .container {
        width: 1224px;
        margin: auto;
        padding-bottom: 80px;
        padding-top: 80px;
        &__text {
            width: 574px;
            margin: auto;
            margin-bottom: 32px;
            text-align: center;
            h1 {
                color: #fff;
                font-size: 42px;
                font-weight: 700;
                line-height: 42px;
            }
            p {
                margin-bottom: 33px;
                color: #fff;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px; 
            }
            &__link {
                display: flex;
                justify-content: center;
                gap: 28px;
                &--button1 {
                    @include button1;
                }
                &--button2 {
                    @include button2;
                }
            }
        }
        img {
            width: 1224px;
            height: auto;
        }
    }
}


.company {
    min-width: 1440px;
    padding: 1px 28px 1px 28px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 121px;
        &__box {
            min-width: 197.72px;
            height: 121px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 1px solid #E5E5E5;
        }
        &__box:first-child {
            border-left: none;
        }
    }
}


.features {
    min-width: 1440px;
    padding-top: 80px;
    padding-bottom: 80px;
    .container {
        width: 1224px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
        &__box {
            width: 376px;
            height: 176px;
            img {
                display: block;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 24px;
                font-weight: 700;
                line-height: 30px;
                padding: 0px;
                margin-bottom: 10px;
            }
            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                padding-right: 16px;
            }
        }
    }
}


.inquiry {
    min-width: 1440px;
    padding-top: 80px;
    padding-bottom: 80px;
    &__box {
        width: 1224px;
        padding-left: 54px;
        padding-right: 54px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 28px;
        &__text {
            min-width: 598px;
            height: 256px;
            h2 {
                @include h2;
                margin-bottom: 10px;
            }
            p {
                @include p;
                margin-bottom: 48px;
            }
            &__link {
                display: flex;
                justify-content: flex-start;
                gap: 28px;
                &--button1 {
                    @include button1;
                }
                &--button2 {
                    @include button2;
                }
            }
        }
        &__img {
            width: 490px;
            height: 490px;
        }
    }
}

.analyses {
    min-width: 1440px;
    background: #000;
    padding-top: 80px;
    padding-bottom: 80px;
    .container {
        width: 1224px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 63px;
        &__img {
            width: 563px;
            height: 320px;
            max-width: 1224px;
        }
        &__text {
            width: 598px;
            height: 256px;
            h2 {
                @include h2;
                color: #fff;
                margin-bottom: 10px;
            }
            p {
                @include p;
                color: #fff;
                margin-bottom: 48px;
            }
            &__link {
                display: flex;
                justify-content: flex-start;
                gap: 28px;
                &--button1 {
                    @include button1;
                }
                &--button2 {
                    @include button2;
                }
            }
        }
    }
}

.inquiry2 {
    min-width: 1440px;
    padding-top: 80px;
    padding-bottom: 80px;
    &__box {
        width: 1224px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 28px;
        &__text {
            width: 598px;
            height: 256px;
            h2 {
                @include h2;
                margin-bottom: 10px;
            }
            p {
                @include p;
                margin-bottom: 48px;
            }
            &__link {
                display: flex;
                justify-content: flex-start;
                gap: 28px;
                &--button1 {
                    @include button1;
                }
                &--button2 {
                    @include button2;
                }
            }
        }
        &__img {
            width: 490px;
            height: 490px;
        }
    }
}

.analyses2 {
    min-width: 1440px;
    background: #000;
    padding-top: 80px;
    padding-bottom: 80px;
    .container {
        width: 1224px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 62px;
        &__img {
            width: 564px;
            height: 423px;
        }
        &__text {
            width: 598px;
            height: 256px;
            h2 {
                @include h2;
                color: #fff;
                margin-bottom: 10px;
            }
            p {
                @include p;
                color: #fff;
                margin-bottom: 48px;
            }
            &__link {
                display: flex;
                justify-content: flex-start;
                gap: 28px;
                &--button1 {
                    @include button1;
                }
                &--button2 {
                    @include button2;
                }
            }
        }
    }
}


.meeting {
    min-width: 1440px;
    padding-top: 80px;
    padding-bottom: 80px;
    &__box {
        width: 1224px;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 28px;
        &__text {
            width: 598px;
            height: 256px;
            h2 {
                @include h2;
                margin-bottom: 10px;
            }
            p {
                @include p;
                margin-bottom: 48px;
            }
            &__link {
                display: flex;
                justify-content: flex-start;
                gap: 28px;
                &--button1 {
                    @include button1;
                }
                &--button2 {
                    @include button2;
                }
            }
        }
        &__img {
            width: 564px;
            height: 564px;
        }
    }
}

.bottom {
    min-width: 1440px;
    background: #000;
    padding-top: 80px;
    padding-bottom: 80px;
    &__box {
        width: 1224px;
        margin: auto;
        padding: 0px 325px;
        text-align: center;
        h2 {
            @include h2;
            color: #fff;
            margin-bottom: 10px;
        }
        p {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: 0px 31.9px 33px 32.1px;
        }
        &__link {
            display: flex;
            justify-content: center;
            gap: 28px;
            &--button1 {
                @include button1;
            }
            &--button2 {
                @include button2;
            }
        }
    }
}

footer {
    min-width: 1440px;
    padding-top: 70px;
    padding-bottom: 70px;
    .container {
        width: 1300px;
        margin: auto;
        a {
            @include linkStyles;
            color: #333945;
            font-size: 18.2px;
            font-weight: 400;
            line-height: 23.66px;
        }
        &__link {
            display: flex;
            justify-content: space-between;
            &__theme {
                width: 237.59px;
                align-items: flex-start;
                padding-bottom: 35px;
                h3 {
                    font-size: 21px;
                    font-weight: 600;
                    line-height: 27.3px;
                    text-transform: uppercase;
                    padding-bottom: 26.6px;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    gap: 13.7px;
                    margin-top: 13.7px;
                    color: #333945;
                    font-size: 18.2px;
                    font-weight: 400;
                    line-height: 23.66px;
                }
            }
        }
        &__language {
            padding: 29px 510.97px 29px 511.23px;
            margin: 42px 0px;
            justify-content: center;
            align-items: center;
            border-top: 1px solid #D4D6DB;
            border-bottom: 1px solid #D4D6DB;
            &__list {
                @include linkStyles;
                display: flex;
                align-items: center;
                gap: 13.9px;
                color: #010102;
                font-size: 18.2px;
                font-weight: 400;
                line-height: 23.66px; /* 130% */
                text-decoration-line: underline;
            }
        }
        &__detail {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #333945;
            font-size: 18.2px;
            font-weight: 400;
            line-height: 23.66px; 
            &__left {
                display: flex;
                gap: 20.7px;
            }
            &__right {
                font-size: 18.2px;
                font-weight: 400;
                line-height: 23.66px;
            }
        }
    }
}
